h1 {
  color: rgb(241, 74, 74);
  text-align: center;
}

h3 {
  color: rgb(35, 35, 204);
  text-align: center;
}

h1,h3 {
  background: aquamarine;
}

div img { 
  border-radius: 50%;
  margin-left: 600px;
  padding: 30px;
  width: 30%;
  object-fit: cover;
}

.js-animation {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}
.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
